* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 1360px;
  margin: auto;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  background-color: #30b868;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #43574b;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

nav ul {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.3s;
}
.menu li a:hover {
  color: #165731;
}

.banner {
  background: url(./assets/hero-bg.png);
  padding: 120px;
}
.banner h1 {
  font-size: 78px;
  font-family: 800;
  text-align: center;
  color: white;
  margin: 16px 0;
}
.banner h1 span {
  color: #30b868;
}
.banner .banner-description {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

.banner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  width: 230px;
  margin: auto;
  padding: 8px 12px;
  border-radius: 30px;
}

.banner-top .circle {
  width: 10px;
  height: 10px;
  background-color: #30b868;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 2px #30b869;
}
.banner-top .circle p {
  font-size: 16px;
  color: #30b868;
  font-weight: 500;
}
.button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-2 {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn-2:hover {
  background-color: rgba(255, 255, 255, 0.295);
}

.card-container {
  margin: 80px 0;
}
.card-heading h2 {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  color: #001931;
  margin-bottom: 15px;
}
.card-heading p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382;
}

.card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.card-box .card {
  width: 320px;
  height: 300px;
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 0px 9px 0px #00000058;
}
.card-box .card .img-box {
  width: 50px;
  height: 50px;
  background-color: #f95555;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card-box .card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #001931;
  margin: 16px 0;
}
.card-box .card p {
  font-size: 14px;
  line-height: 20px;
  color: #627382;
}
