* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #43574b;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 120px;
  padding: 16px 0;
}

nav ul {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

