* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 1360px;
  margin: auto;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  display: inline;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  background-color: #30b868;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #43574b;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

nav ul {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.3s;
}
.menu li a:hover {
  color: #165731;
}

.banner {
  background: url(./assets/hero-bg.png);
  padding: 120px;
}
.banner h1 {
  font-size: 78px;
  font-family: 800;
  text-align: center;
  color: white;
  margin: 16px 0;
  text-transform: capitalize;
}
.banner h1 span {
  color: #30b868;
}
.banner .banner-description {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

.banner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  width: 230px;
  margin: auto;
  padding: 8px 12px;
  border-radius: 30px;
}

.banner-top .circle {
  width: 10px;
  height: 10px;
  background-color: #30b868;
  border-radius: 50%;
  box-shadow: 0px 0px 13px 2px #30b869;
}
.banner-top .circle p {
  font-size: 16px;
  color: #30b868;
  font-weight: 500;
}
.button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-2 {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn-2:hover {
  background-color: rgba(255, 255, 255, 0.295);
}

.card-container {
  margin: 80px 0;
}
.card-heading h2 {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  color: #001931;
  margin-bottom: 15px;
}
.card-heading p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382;
}

.card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.card-box .card {
  width: 320px;
  height: 300px;
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px -10px 15px 0px #dad8d8a5;
}
.card-box .card .img-box {
  width: 50px;
  height: 50px;
  background-color: #f95555;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card-box .card h4 {
  font-size: 22px;
  font-weight: 600;
  color: #001931;
  margin: 16px 0;
}
.card-box .card p {
  font-size: 14px;
  line-height: 20px;
  color: #627382;
}

.brain-structured {
  display: flex;
  align-items: center;
  gap: 60px;
}
.brain-structured .brain-nav {
  font-size: 15px;
  line-height: 20px;
  color: #30b868;
  text-transform: uppercase;
}

.brain-structured .brain-right h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  line-height: 50px;
  margin: 16px 0;
}
.brain-structured .brain-right .brain-description {
  font-size: 15px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.unoder-list-box .check-box {
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}
.unoder-list-box .check-box p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #001931;
}

.extra-section {
  padding: 80px 40px;
  text-align: center;
  background-color: #f7f6f2;
  margin: 120px 0;
}
.extra-section .extra-head {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: center;
  margin-bottom: 16px;
}
.extra-section .extra-description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #627382;
  margin-bottom: 24px;
}
.extra-section .extra-footer {
  font-size: 15px;
  line-height: 20px;
  margin-top: 28px;
  color: #627382;
}
footer {
  background-color: #001931;
  padding: 120px 0px 20px 0px;
  color: white;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer-nav .social-box {
  padding-right: 107px;
  color: #ffffff;
}
.footer-nav .social-box h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.footer-nav .social-box .social-icon {
  display: flex;
  gap: 16px;
}

.social-icon i {
  font-size: 20px;
}
.copyright {
  font-size: 16px;
  color: #fafafa;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
}
.hr {
  height: 1px;
  background-color: #0056a6;
}
